<main class="p-5">
    <div>

        <section class="col-12">
            <div class="card">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #16453</h5>
                    <p class="text-bg-secondary">Usb Tape<br> 111</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

    </div>

    <section class="col-3">
        <div class="card text-bg-primary">
             <div class="card-header"> 
                <h5>Menu</h5>
             </div>

            <ul class="list-group">
                <li class="list-group-item">
                     <a href="#" class="btn btn-link">Home page</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="btn btn-link">Summary page</a>
                </li>
                 <li class="list-group-item">
                     <a href="#" class="btn btn-link">Skills page</a>
                </li>
            </ul> 

            <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
            </div> 
        </div>
    </section>

    <section class="col-9">
        <table class="table table-bordered text-bg-success">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Jone</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>25</td>
            </tr>
          </tbody>
       </table>
    </section>

    <section class="col-12">
        <div class="row gx-5 gy-1">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        
    </section>
    <hr>
    <hr>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="nav nav-tabs mb-4 mt-4">
                    <div class="nav-item">                          
                        <p  class="nav-link active">Main</p>                                                 
                    </div>
                    <div class="nav-item">                           
                        <p  class="nav-link ">Catalog</p>
                    </div>
                    <div class="nav-item">
                        <a href="/#" class="nav-link disabled">Shop list</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3">
                                <div class="card">  
                                    <a href="/#" class="nav-link">Catalog</a>
                                </div>  
                            </div>
                            <div class="nav-item mb-3">
                                <div class="card">
                                    <a href="/#" class="nav-link aktive">Home page</a>
                                </div>
                            </div>
                            <div class="nav-item">
                                <div class="card">
                                    <a href="/#" class="nav-link">FAQ page</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="rol">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC та ноутбук</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">McBook</a>
                        </li>
                    </ol>  
                </div>
                
                <div class="alert alert-primary">
                    <div class="col-12">
                        <h1>Hello world<span class="badge text-bg-danger rounded-pill text-uppercase">Tоп продаж</span> </h1>
                    </div>
                    <button class="btn btn-primary rounded-pill my-2 mx-3">Click me</button>
                    <p class="m-0">This is text</p>
                </div>   
            </div>   
        </div>   
    </div>
             
    

    
</main>                                                                            