<main>
<div class="card">
    <div class="card-body">
        <h1 class="text-center text-uppercase">Hello world</h1>
        <h2 class="text-end text-lowercase">Hello world</h2>
        <h3 class="text-capitalize">Hello world</h3>
           </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <div class="display-1">Hello world</div>
        <div class="display-5">Hello world</div>
        <div class="display-1">Hello world</div>
   </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <div class="text-muted text-end">
            Hello <span class"display-6">wolrd</span> 
        </div>
     </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <button class="btn btn-link">
             <a href="#" class-"text-uppercase">Button primary</a>
             <h1>Test</h1>
        </button>
    </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <p class="text-danger">My text</p>
        <p class="text-dark">My text</p>
    </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <button class="btn btn-outline-secondary btn-lg">Додати</button>
        <button class="btn btn-outline-danger btn-sm">Редагувати</button>
        <button class="btn btn-outline-info">Видалити</button>
    </div>
</div>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        This is content
    </div>
</div>


</main>